@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	display: flex;
	position: relative;
	flex-direction: column;
	
	justify-content: center;
	align-items: center;
	
	margin: auto;
	height: 100vh;
}

h2 {
	margin: 0;
	padding-bottom: 5px;
}


.openBtn {
	background: rgb(250, 220, 220);
	border: none;
	padding: 10px 15px;
	font-size: 20px;
	cursor: pointer;
	border-radius: 12px;
	
	margin-top: 20px;
}

.openBtn:hover {
	background: #bbb;
}

.overlay {
	height: 100%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	/* background-color: rgb(0, 0, 0); */
	/* background-color: rgba(0, 0, 0, 0.9); */
	background-color: rgb(0, 0, 0);
	background-color: rgba(180, 180, 250, 0.9);
}

.overlay-content {
	position: relative;
	top: 46%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	cursor: pointer;
	color: white;
}

.overlay .closebtn:hover {
	color: #ccc;
}

.overlay input[type=text] {
	padding: 15px;
	font-size: 17px;
	border: none;
	float: left;
	width: 80%;
	background: white;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.overlay input[type=text]:hover {
	background: #f1f1f1;
}

.overlay button {
	float: left;
	width: 20%;
	padding: 15px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;

	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.overlay button:hover {
	background: #bbb;
}